@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

body {
    background-color: #FEFAE0;
    color: #7e9f77;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

header {
    font-size: 35px;
    margin-bottom: 15px;
}

.header {
    font-size: 21px;
}

ol {
    font-size: 18px;
}

.abc {
    padding: 5px;
    font-size: 18px;
    background-color: #FEFAE0;
    color: #f6c64c;
    border-radius: 7px;
    cursor: pointer;
}

.abc:hover {
    background-color: #fff;
}


#container {
    width: 300px;
    height: auto;
    padding: 10px;
    background-color: #7e9f77;
    color: #FEFAE0;
    border-radius: 7px;
}

/* disturbingly big button but cannot make it to work right now, leave for later */
#changing-button {
    width: 300px;
    height: auto; 
    margin-top: 5px;
    padding: 0 10px 0 10px;
    font-size: 25px;
    text-align: center;
    background-color: #f6c64c;
    color: #FEFAE0;
    border-radius: 7px;
    cursor: pointer;
}

#changing-button:hover {
    background-color: #fff;
    color: #f6c64c;
}

#changed-button {
    width: 300px;
    height: auto; 
    margin-top: 5px;
    padding: 0 10px 0 10px;
    font-size: 25px;
    text-align: center;
    background-color: #f6c64c;
    color: #FEFAE0;
    border-radius: 7px;
    cursor: pointer;
}

#result p {
    font-size: 30px;
    text-align: center;
}

#result i {
    font-size: 45px;
    text-align: center;
}

