@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

/* style to center everything on the page and make it responsive */
body {
    background-color: #FEFAE0;
    color: #7e9f77;
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* main header */
header {
    font-size: 35px;
    margin-bottom: 15px;
}

/* header inside container */
#header {
    font-size: 21px;
}

/* font-size for ordered list */
ol {
    font-size: 18px;
}

/* styling for quiz options */
.choices {
    padding: 5px;
    font-size: 18px;
    background-color: #FEFAE0;
    color: #f6c64c;
    border-radius: 7px;
    cursor: pointer;
}

.choices:hover {
    background-color: #fff;
}

/* style for correct and incorrect answer */
.correct {
    background-color: #b1d3ad;
    color: #fff;
}

.incorrect {
    background-color: #ff8066;
    color: #fff;
}

/* main container */
#container {
    width: 300px;
    height: auto;
    padding: 10px;
    background-color: #7e9f77;
    color: #FEFAE0;
    border-radius: 7px;
}

/* start quiz button */
.changing-button {
    width: 300px;
    height: auto; 
    padding: 0 10px 0 10px;
    font-size: 25px;
    text-align: center;
    background-color: #f6c64c;
    color: #FEFAE0;
    border-radius: 7px;
    cursor: pointer;
}

.changing-button:hover {
    background-color: #fff;
    color: #f6c64c;
} 

/* next button */
/* goes outside of container for some reason */
#next-button {
    width: 100px;
    height: auto;
    padding: 3px;
    background-color: #fff;
    color: #f6c64c;
    font-size: 20px;
    text-align: center;
    float: right;
    border-radius: 7px;
    cursor: pointer;
}

#next-button:hover {
    background-color: #f6c64c;
    color: #fff;
}

/* box that shows users current score */
/* background color doesn't work */
#score-area {
    width: 300px;
    height: auto; 
    padding: 0 10px 0 10px;
    font-size: 25px;
    text-align: center;
    color: #f6c64c;
    border-radius: 7px;
}

/* font size to final result section */
#result p {
    font-size: 30px;
    text-align: center;
}

/* fontawesome icon */
#result i {
    font-size: 45px;
    text-align: center;
}

